<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min
.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin=
"anonymous">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0m
SbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
        <body bgcolor="#999999">
   <img id="image" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_160x56dp
.png"; draggable="true"; width="600"
			 ondragstart="drag(event)" width="800" height="300" alt="" />

	<script>
		alert("Em Desenvolvimento..")
	</script>
                </body>
			<body>
   <header>
<h1>Bem-Vindo</h1>
</header>
        <article>
<h1>Quais suas dúvidas sobre programação e hacking?</h1>
 <section>
<h1>Conhecimento não é crime.</h1>
<p>Este WebSite está de pé para esclarece-los!!!</p>
  <aside>
<h1>Responderemos dentro de 24 horas.</h1>
  </aside>
 </section>
	</article>
<nav>
<ul>
	<li><a href="#">Home</a></li>
	<script>
		var link = document.getElementById("btn");
	link.addEventListener('click', function() {
        alert("Indisponivel.")
	})
	</script>
<li><a href="#">Serviços</a></li>
<li><a href="#">Suporte</a></li>
<li><a href="#">Contate-nos</a></li>
</ul>
</nav>
<a><img href="<%= url('/images/https://goo.gl/images/TG8pR') %>" </a></img>
</body>
                <body>
        <a href="https://goo.gl/images/TG8pRb"; height="50%"; width="100%">;
		</body>
                <body>
        <img src="https://media.giphy.com/media/slBL4sbrz5SA8/giphy.gif"; height="50%"; width="100%"/>
        <img src="https://media.giphy.com/media/HVwzthU9RdA8U/giphy.gif"; height="50%"; width="100%"/>
   
	<img src="https://media.giphy.com/media/l3c5LjEEiEAcifOW4/giphy.gif"; height="100%"; width="100%"/>
		</body>
                <body>
<audio src="/storage/extSdCard/Sounds/Nightcore - One Breath Away.mp3"controls autoplay>;
<source src="/storage/extSdCard/Sounds/Nightcore - One Breath Away.mp3";type="audio/mpeg">;
        <source src="/storage/extSdCard/Sounds/Nightcore - One Breath Away.ogg";type="audio/ogg"/>;
</audio>
                </body>
                <body>
        <h2>Isso é a poha de um botão!</h2>
                <button type="button"
			onclick="alert('Sua jornada ao hacking começa aqui.')">Clique em mim!</button>

<footer>
<h6>Privacy Police</h6>
</footer>
</html>
